<div id="dragContainer"
     class="col-10 d-inline-block float-right vh-100 p-0">
  <div id="draggable"
       class="card w-25">
    <div id="draggable1"
         class="card-header">
      <h2 id="draggable2"
          class="mb-0">
        <button id="draggable3"
                class="btn btn-link"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne">
          Collapsible window
        </button>
      </h2>
    </div>

    <div id="collapseOne"
         class="collapse show"
         aria-labelledby="draggable1"
         data-parent="#dragContainer">
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, odit voluptate labore tenetur laboriosam
        doloremque architecto ducimus harum nobis quasi.
      </div>
    </div>
  </div>
</div>
