<div class="col-2 mt-1 p-0 d-inline-block">
    <div id="MainMenu">
        <div class="list-group panel">
            <a href="#"
               class="list-group-item"
               data-parent="#MainMenu">Dashboard</a>
            <a href="#statistics"
               class="list-group-item nav-link"
               data-toggle="collapse"
               data-parent="#MainMenu">Statistics</a>
            <div class="collapse"
                 id="statistics">
                <a href="#"
                   class="list-group-item"> - Tests</a>
                <a href="#"
                   class="list-group-item"> - Devices</a>
                   <a href="#"
                   class="list-group-item"> - Builds</a>
                   <a href="#"
                   class="list-group-item"> - Services</a>
                   <a routerLink="/dashboard"
                   class="list-group-item"> - Projects</a>
            </div>
            <a href="#reports"
               class="list-group-item nav-link"
               data-toggle="collapse"
               data-parent="#MainMenu">Reports</a>
            <div class="collapse"
                 id="reports">
                 <a href="#"
                 class="list-group-item"> - Tests</a>
              <a href="#"
                 class="list-group-item"> - Devices</a>
                 <a href="#"
                 class="list-group-item"> - Builds</a>
                 <a href="#"
                 class="list-group-item"> - Services</a>
                 <a href="#"
                 class="list-group-item"> - Projects</a>
            </div>
            <a href="#"
            class="list-group-item"
            data-parent="#MainMenu">Configurations</a>
        </div>
        <a href="#overview"
        class="list-group-item nav-link"
        data-toggle="collapse"
        data-parent="#MainMenu">Overview</a>
     <div class="collapse"
          id="overview">
          <a href="#"
          class="list-group-item"> - Tests</a>
       <a href="#"
          class="list-group-item"> - Devices</a>
          <a href="#"
          class="list-group-item"> - Builds</a>
          <a href="#"
          class="list-group-item"> - Services</a>
          <a href="#"
          class="list-group-item"> - Projects</a>
     </div>
    </div>
</div>